body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
}

.banner{
    background: url("resources/images/Banner\ Image.png");
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 20px;
   
}
.banner-content{
    text-align: center;
    line-height: 25px;
    padding-top: 115px;
   
 
    
}

.banner h6 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;

}
.banner h2 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;

}
/* Discount Container  */
.discount-container {
    margin-top: 100px;
    margin-bottom: 100px;

}
.discount-content {
    text-align: center;
}
.discount-content h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    }

.discount-content p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

    }
.discount-content h2 {
    font-family: Inter;
    font-size: 48px;
    color: #070211;
    font-weight: 700;

 } 
   /* Party Container(3rd part)  */
   .party-container{
    background: url("resources/images/Vectorrr.png");
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 20px;
    
   }

   .party-content {
    padding-top: 150px;
    padding-left: 100px;
   }

   .party-content h1{
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 642px;
    height: 176;


   }

   .party-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
  
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 697px;
    height: 60px;
   }
   .party-content button {
    font-family: inter;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    

   }


 /* 4th section  */
   .partyplace-container{
    background-color: lightpink;
   
    width: 1320px;
    height: 400px;
    margin: 20px;
    border-radius: 5px;
    
   
}

.partyplace-content {
    text-align: center;
    padding-top: 100px;
}